$vmBlack: #333333;
$vmGrey4: #f7f7f7;
$vmWhite: #f7f7f7;
$red: #ed0000;
$white: #fff;
$black: #000;
$grey: #dbdbdb;
$purple: #3b164c;
$vmPurple: #5f2878;
$vmInfoBlue: #2b7cb6;
$vmGreen: #348437;
$vmRed: #bb0a00;
