$chat: VMCircularChatPTT, Arial, Helvetica, sans-serif;
$yell: VMCircularYellPTT, Arial, Helvetica, sans-serif;
$whisper: VMCircularWhisperPTT, Arial, Helvetica, sans-serif;
$shout: VMCircularShoutPTT, Arial, Helvetica, sans-serif;
$natterPTT: VMCircularNatterPTT, Arial, Helvetica, sans-serif;
$natterTT: VMCircularNatterTT, Arial, Helvetica, "sans-serif";
$chatTT: VMCircularChatTT, Arial, Helvetica, "sans-serif";
$shoutTT: VMCircularShoutTT, Arial, Helvetica, "sans-serif";
$whisperTT: VMCircularWhisperTT, Arial, Helvetica, "sans-serif";
$momentum: "VMMomentum", Arial, Helvetica, sans-serif;
