@use "../scss/fonts" as vm;

@mixin fullscreenOverlay {
  &.vm-cro-fullscreen-overlay--active {
    overflow: hidden;
  }

  .vm-cro-fullscreen-overlay {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.75);
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    z-index: 99999;

    &--hide {
      display: none;
    }

    &--container {
      height: auto;
      width: 90%;
      background-color: #fff;
      padding: 0 1.5rem 1.5rem;
      position: relative;
      border-radius: 5px;
      max-width: 51.75rem;
    }

    &--header {
      margin: 1.5rem 1.7rem 1.2rem 0;
      padding-bottom: 1.5rem;
      font-family: vm.$chat;
      line-height: 1.5;
      border-bottom: #dbdbdb 0.0625rem solid;
    }

    &--overlay-close {
      position: absolute;
      right: 1.5rem;
      cursor: pointer;

      i {
        font-size: 22px;
        font-weight: 100;
      }
    }

    &--body {
      padding: 0.5rem 0;

      * {
        font-family: vm.$whisper;
        line-height: 1.5;
      }
    }
  }
}
